[Unit]
Description=ngrok
After=network.target

[Service]
Restart=always
RestartSec=5
User=ngrok
ExecStart=/usr/bin/ssh -R www.reciperadar.com:443:localhost:443 tunnel.eu.ngrok.com tls

[Install]
WantedBy=multi-user.target
