[Unit]
Description=ngrok
After=network.target

[Service]
Restart=always
RestartSec=30
User=ngrok
ExecStart=/usr/bin/ssh -R reciperadar.com:80:localhost:80 tunnel.eu.ngrok.com http

[Install]
WantedBy=multi-user.target
